.dt-goods-quantity, .dt-comment {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #ffb000;
    background-color: #ffed83;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    margin: 0 auto;
}

.dt-comment {
    float: left;
    margin: 0;
}

.dt-goods-table {
    width: 100% !important;
}

.dt-goods-table * {
    width: initial !important;
    box-sizing: border-box;
    font-size: 11px;
    text-align: center;
    padding: 3px 3px !important;
    max-width: 110px;
    border: none !important;
}

.dt-goods-table thead {
    background-color: #cc3f44;
}

.popover-source {
    display: none;
}

.popover-content {
    padding: 0;
}

.popover {
    min-width: 410px !important;
    width: auto !important;
    text-align: center;
}

.comment-container .popover {
    text-align: left;
    padding: 5px;
}

.comment-container {
    display: flex;
    align-items: center;
}

.table-input {
    width: 50px;
    text-align: center;
}

.order-goods-table td, th {
    max-width: 110px;
    text-align: center;
}

.sel-goods-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sel-goods-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 0px;
}

.sel-goods-image {
    order: 0;
    flex: 0 1 30%;
    align-self: center;
    max-width: 100px;
    max-height: 50px;
}

.sel-goods-text {
    order: 1;
    flex: 0 1 70%;
    align-self: center;
}

.select2-chosen {
    height: 100%;
}

.select2-chosen .sel-goods-image {
    max-width: 80px;
    max-height: 30px;
}

.select2-chosen .sel-goods-holder {
    max-height: 100%;
}

.add-goods-popup {
    display: none;
}

.additional-popup-frame {
    z-index: 3000;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;
}

.additional-panel-options {
    text-align: right;
}

.additional-panel-body {
    padding-top: 15px;
    color: #000 !important;
}

.btn-close-add-popup {
    color: white;
    font-size: 40px;
    position: relative;
    top: 18px;
    right: -22px;
}

.tabs-container {
    display: flex;
    /*margin-bottom: -6px;*/
    border-bottom: 1px solid #4a8cc7;
}

.tabs-container .tab {
    background-color: #f8f8f8;
    flex: 1;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-top: 10px solid #eeeeee;
    border-bottom: none;
    margin: 2px 1px 0;
}

.tabs-container .tab:first-of-type {
    margin-left: 0;
}

.tabs-container .tab:last-of-type {
    margin-right: 0;
}

.tabs-container .tab.active {
    background-color: #ffffff;
    border: none;
}

.orders-container {
    /*background-color: #fff;*/
    /*overflow-x: scroll;*/
    max-height: 670px;
    overflow: hidden;
}

.order-status-color {
    flex: 1;
    height: 100%;
}

.order-status-title {
    flex: 4;
    padding: 5px;
    text-align: center;
}

.orders-container table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 0px !important;
}

.orders-container table.dataTable th:before {
    display: none !important;
}

.orders-container .dataTables_wrapper .row .col-xs-6 {
    padding: 0 10px;
}

.orders-container div.dataTables_paginate ul.pagination {
    margin: 0;
}

.orders-container .dataTables_scroll {
    border: 1px solid #4a8cc7;
}

.orders-container .table {
    border-radius: 0;
}

.orders-container .overlap {
    position: absolute;
    width: calc(100% - 30px);
    height: 60px;
    margin: 0 -1px;
    background-color: #eee;
    z-index: 0;
}

.orders-container.no-dt {
    position: relative;
    top: 60px;
}

.dataTables_scrollHead .orders-table, .dataTables_scrollBody .orders-table {
    position: static;
}

.orders-container .table, .orders-container .table th, .orders-container .table td {
    border: none;
    text-align: left;
}

.orders-container .table td, .orders-container .table th, .order-edit-popup .table td, .order-edit-popup .table th{
    padding: 0 2px;
}

.orders-container .table tbody {
    overflow-y: scroll;
    max-height: 300px;
}

.orders-container .btn-edit{
    display: flex;
    margin: auto;
}

.orders-container .dataTables_filter {
    padding-bottom: 15px;
}

.orders-container .dataTables_filter label {
    float: left;
    margin: 0;
    /*padding-top: 10px;*/
}

.orders-container .dataTables_length {
    padding: 0 10px 0 0;
}

.orders-container .dataTables_length label {
    margin: 0;
}

.orders-container .dataTables_paginate {
    padding: 0;
    height: 32px;
    flex: 1;
    text-align: right;
}

.orders-container .dataTables_info {
    padding: 0;
}

.orders-container .dt_footer .col-xs-12 {
    display: flex;
    align-items: center;
    padding: 15px;
}

.orders-container .dataTables_scrollBody {
    min-height: 500px;
    /*background-color: #f8f8f8;*/
    background: none;
}

.orders-table {
    width: 2000px;
    /*height: 540px;*/
}

/*.cb-replaced .cb-input, .cbr-replaced .cbr-input  {*/
/*display: block !important;*/
/*}*/

.goods-th, .goods-td, .phone-th, .sum-th, .sum-td, .phone-td {
    text-align: center !important;
}

.sum-td {
    color: #509900 !important;
}

.order-edit-popup {
    width: 1000px;
}

.order-edit-popup .control-label {
    margin-bottom: 1px;
}

.order-edit-popup .form-group {
    margin-bottom: 5px;
}

.order-comment {
    resize: horizontal;
}

.order-edit-popup .right-col {
    padding-left: 0;
}

.order-goods-table .btn-edit {
    opacity: 0;
    padding: 0;
}

.order-goods-table .tr:hover .btn-edit {
    opacity: 1;
}

.order-goods-table tbody > tr > td, .order-goods-table tbody > tr > th {
    padding: 2px;
    border: none;
}

.order-goods-table .goods-number {
    width: 15px;
}

.order-goods-table .btn-td, .order-goods-table .btn-th {
    width: 23px !important;
    padding: 2px;
}

.order-goods-table .btn-td .btn-edit {
    width: 20px;
}

.order-goods-table .goods-name, .order-goods-table .goods-name-th {
    text-align: left;
}

.delivery-icon {
    width: 15px;
}

.delivery-th {
    width: 115px !important;
}

.orders-container .table .cbx-td {
    padding: 0 5px;
}

.dataTables_scrollBody {
    position: inherit !important;
}

.goods-table-footer {
    display: flex;
    margin: 5px -5px;
    align-items: center;
}

.goods-table-footer .col-1 {
    flex: 6;
    display: flex;
    overflow: auto;
}

.goods-table-footer .col-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.goods-table-footer .col-2 span {
    color: #cc3f44;
}

.goods-table-footer .col-2 * {
    font-weight: bold;
}

.goods-table-footer label {
    margin: 0;
    float: left;
}

.goods-table-footer .col-1 > *, .goods-table-footer .col-2 > * {
    padding: 5px;
}

.goods-table-footer .col-2 {
    flex: 2;
}

.goods-table-footer .col-1 .col-1-1 {
    flex: 3;
    overflow: hidden;
}

.goods-table-holder{
    height: 326px;
    overflow-y: scroll;
    border: 1px solid #4a8cc7;
}

.goods-table-holder .table{
    border: none;
    border-radius: initial;
}

.order-goods-table .form-control{
    margin: 0 auto;
    padding-right: 0;
    height: 25px;
}

.order-edit-popup .table.table-model-2 > thead > tr > th, .order-edit-popup .table.table-model-2 > thead > tr > td {
    padding: 6px 2px;
}

.order-edit-popup .order-comment{
    height: 200px;
    font-size: 12px;
}

.order-edit-popup .popover{
    padding: 5px;
    text-align: left;
    border: 1px solid #ffb000;
    background-color: #f5ea8c;
}

.order-edit-popup .popover.right > .arrow:after{
    border-right-color: #ffb000;
}

.order-comment-holder{
    z-index: 2;
}

.recommended-goods-table-holder{
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #4a8cc7;
}

.recommended-goods-table-holder .table{
    border: none;
    border-radius: 0;
}

.order-edit-popup .button-container{
    margin-top: 20px;
}

.order-edit-popup .button-container .btn{
    width: 100%;
}