.login-page {
    padding: 0;
    min-width: initial;
    min-height: 640px;
}


@media screen and (max-width: 480px) {
    body{
        height: 100%;
    }
}

.login-page-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 150px);
    background-image: url("/images/drop.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 50% auto;
}

@media screen and (min-width: 800px) {
    .login-page-container {
        background-size: 40% auto;
    }
}

@media screen and (min-width: 1024px) {
    .login-page-container {
        background-size: 35% auto;
    }
}

@media screen and (min-width: 1280px) {
    .login-page-container {
        background-size: 30% auto;
    }
}

@media screen and (min-width: 1600px) {
    .login-page-container {
        background-size: 25% auto;
    }
}

@media screen and (min-width: 1920px) {
    .login-page-container {
        background-size: 20% auto;
    }
}

.login-form-container {
    width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    font-size:14px;
}

.btn {
    height: initial;
    font-size:14px;
}

.login-page .login-form .form-group label.error {
    color: #cc3f44;
}

.login-page .login-form .form-group .form-control.error {
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.login-page .login-form {
    padding: 0;
    margin: 0;
}

.alert-container {
    height: 200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.login-page i + i {
    margin-left: -8px;
}

.site-name {
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgba(74, 140, 199, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3%;
}

.login-page .buttons-container div {
    color: #4a8cc7;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.login-page .buttons-container div:hover{
    text-decoration: underline;
}

.login-page .buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 5%;
}

@media screen and (max-width: 768px) {
    .login-page .buttons-container {
        padding-bottom: 7%;
    }
}

@media screen and (max-width: 680px) {
    .login-page .buttons-container {
        flex-direction: column;
        padding-bottom: 0;
    }

    .login-page .buttons-container div {
        margin-bottom: 20px;
    }
}

.faq-popup, .policy-popup, .agreement-popup{
    width: 600px;
}

.contacts-popup{
    width: 400px;
    text-align: center;
}

.contacts-popup .contact-container{
    font-size: 15px;
    padding: 5px;
    /*color: #4a8cc7;*/
    text-align: center;
}

.login-page .login-form .form-group .btn {
    padding-top: 9px;
    padding-bottom: 9px;
}

.policy-container{
    height: 50px;
    color: #4A8CC7;
    cursor: pointer;
}

.policy-container div:hover{
    text-decoration: underline;
}

.login-page .control-label{
    color: #000;
}