.faq-popup{
    width: 80%;
    min-width: 500px;
}

.faq-popup .cke_contents{
    height: 500px !important;
}

.faq-heading, .faq-panel.panel-color .faq-heading {
    border-radius: 3px;
    border-radius: 3px;
    background-color: #4A8CC7;
    color: white;
    padding: 5px;
}

.faq-heading a {
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.faq-panel-body{
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
}

.faq-panel-title{
    margin: 0;
}

.faq-panel-title > a {
    color: inherit;
}