.page-404-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.go-back {
    font-size: 20px;
}
.go-back:hover{
    text-decoration: underline;
}