.contacts-popup{
    width: 400px;
    text-align: center;
}

.contacts-popup .contact-container{
    font-size: 15px;
    padding: 5px;
    /*color: #4a8cc7;*/
    text-align: center;
}

.main-menu *{
    cursor: pointer;
}

.change-password-btn:hover{
    text-decoration: underline;
}

.password-form-group{
    text-align: center;
}
