
.goods-popup{
    width: 800px;
}

.goods-popup label{
    margin: 0;
}

.goods-table > thead > tr > th, .goods-table > tbody > tr > th, .goods-table > thead > tr > td, .goods-table > tbody > tr > td {
    vertical-align: middle;
}

.goods-popup .panel-body{
    padding: 10px;
}

.popup-content input, .popup-content select, .popup-content textarea{
    margin-bottom: 0;
}

.row{
    display: flex;
    margin: 0 -10px;
}
.row + .row{
    margin-top: 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 10px;
    padding-right: 10px;
}

.goods-name-container{
    text-align: right;
    padding-right: 0;
}

.col-pl-0{
    padding-left: 0;
}

.title-right{
    padding-right: 0;
    text-align: right;

}

.title-left{
    text-align: left;
}

.goods-full-desc{
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
}
.goods-popup .droppable-area {
    width: 100%;
    border-radius: 0;
    min-height: calc(100% - 30px) !important;
    background: #ffffff;
    margin: 0;
}

.goods-popup .upload-image-btn{
    height: 100%;
    position: absolute;
    z-index: 10;
    padding-right: 10px;
}

.goods-popup .image-preview{
    position: relative;
    top: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}

.goods-popup .image-preview img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.table .btn-view{
    opacity: 0;
}

.table tr:hover .btn-view{
    opacity: 1;
}

.goods-table .availability{
    color: #00a500;
    font-weight: bold;
    font-size: 30px;
}

.goods-table .no-availability span, .goods-table .availability span{
    display: none;
}

.goods-table .no-availability{
    color: #f44336;
    font-weight: bold;
    font-size: 30px;
}