html, body {
    height: 100%;
    /*overflow-x: hidden;*/
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    min-width: 1024px;
}

.login-page {
    background: initial;
    color: initial;
    padding-top: 0;
    position: absolute;
}

@media screen and (min-width: 320px) {
    body {
        min-height: 320vh;
    }
}

@media screen and (min-width: 360px) {
    body {
        min-height: 284.4444vh;
    }
}

@media screen and (min-width: 375px) {
    body {
        min-height: 273.0667vh;
    }
}

@media screen and (min-width: 384px) {
    body {
        min-height: 266.666vh;
    }
}

@media screen and (min-width: 412px) {
    body {
        min-height: 248.543vh;
    }
}

@media screen and (min-width: 414px) {
    body {
        min-height: 213.333vh;
    }
}

@media screen and (min-width: 480px) {
    body {
        min-height: 192.12vh;
    }
}

@media screen and (min-width: 568px) {
    body {
        min-height: 180.28vh;
    }
}

@media screen and (min-width: 600px) {
    body {
        min-height: 170.666vh;
    }
}

@media screen and (min-width: 640px) {
    body {
        min-height: 160vh;
    }
}

@media screen and (min-width: 667px) {
    body {
        min-height: 153.52vh;
    }
}

@media screen and (min-width: 732px) {
    body {
        min-height: 139.89vh;
    }
}

@media screen and (min-width: 736px) {
    body {
        min-height: 139.13vh;
    }
}

@media screen and (min-width: 768px) {
    body {
        min-height: 133.333vh;
    }
}

@media screen and (min-width: 800px) {
    body {
        min-height: 128%;
    }
}

@media screen and (min-width: 960px) {
    body {
        min-height: 106.666%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .page-container .main-content {
        height: calc(100% - 60px);
    }
}

.main-content {
    width: 100%;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.login-page .login-form .form-group .control-label{
    padding: 0 5px;
}

.control-label {
    color: green;
}

.form-control{
    padding: 6px;
    font-size: 14px;
}

.page-container .main-content {
    padding: 15px;
    background-image: url("/images/drop.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 50% auto;
}

@media screen and (max-width: 1920px) {
    .page-container .main-content {
        background-size: 20% auto;
    }
}

@media screen and (max-width: 1600px) {
    .page-container .main-content {
        background-size: 25% auto;
    }
}

@media screen and (max-width: 1280px) {
    .page-container .main-content {
        background-size: 30% auto;
    }
}

@media screen and (max-width: 1024px) {
    .page-container .main-content {
        background-size: 35% auto;
    }
}

@media screen and (max-width: 800px) {
    .page-container .main-content {
        background-size: 40% auto;
    }
}

@media screen and (max-width: 640px) {
    .page-container .main-content {
        background-size: 50% auto;
    }
}

@media screen and (max-height: 414px) {
    .page-container .main-content {
        background-size: auto 50%;
    }
}

.user-info-navbar {
    margin: -15px -15px 0;
}

.user-info-navbar .user-info-menu > li.hover-line:before {
    background: #4a8cc7;
}

.menu-link .text {
    display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .menu-link .text {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .page-container .main-content .navbar.user-info-navbar {
        display: inherit;
    }
}

@media screen and (max-width: 768px) {
    .page-container .main-content .navbar.user-info-navbar .user-info-menu > li.user-profile > a > span, .page-container .main-content .navbar.navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a > span {
        display: block;
    }
}

nav.navbar {
    border: 1px solid transparent;
}

.sidebar-menu {
    width: 250px;
}

.page-container .main-content .page-title {
    margin: 0 -15px 15px;
    display: flex;
    padding: 15px;
}

.page-container .main-content .page-title .title-env {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    height: 32px;
}

.page-container .main-content .page-title .title-env .title {
    width: 100%;
}

.page-container .main-content .page-title .breadcrumb-env {
    padding-right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.debug-popup, .errors-popup {
    position: fixed;
    display: none;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 10000;
    border: 3px solid red;
}

.debug-popup pre, .errors-popup pre {
    height: 100%;
}

.show-debug-btn, .show-errors-btn {
    position: fixed;
    width: 100px;
    height: 30px;
    top: calc(100% - 30px);
    left: calc(100% - 100px);
    z-index: 10000;
}

.show-errors-btn {
    left: calc(100% - 200px);
}

table .checkbox-container {
    width: 10%;
}

.panel {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 3px solid #4A8CC7;
}

.panel-group .panel {
    border-radius: 5px;
}

.panel button {
    border-radius: 5px;
}

.panel .btn-gray {
    border: 2px solid #4A8CC7;
}

.panel .btn-gray:hover {
    border: 2px solid #5aa3e6;
    background-color: #ffffff;
}

.panel.panel-color .panel-heading {
    background-color: #4A8CC7;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.panel-options {
    text-align: right;
    height: 40px;
}

.close-popup-btn {
    color: #FFF !important;
    font-size: 40px;
    position: relative;
    right: -22px;
}

.btn.btn-close-popup:hover {
    background-color: #ffffff;
}

.panel .panel-body {
    padding: 15px 10px;
    color: #000;
    text-align: left;
    background-color: #eeeeee;
    border-radius: 3px;
}

.panel-title-container {
    width: 100%;
    text-align: left;
}

.panel-title div {
    float: left;
}

input[type="checkbox"].iswitch {
    width: 30px;
    height: 17px;
    box-shadow: inset 0 0 0 2px #adadad;
}

input[type="checkbox"].iswitch:before {
    height: 11px;
    width: 11px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 1px 1px #adadad;
}

input[type="checkbox"].iswitch:checked {
    padding-left: 15px;
}

.table {
    margin: 0;
    border: 2px solid #4A8CC7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-collapse: initial;
    overflow: hidden;
    /*background-color: #eee;*/
    background-color: rgba(238, 238, 238, 0.6);
}

.table td, .table th {
    border-right: 1px solid #7f7f7f;
}

.table > tbody > tr {
    height: 32px;
}

.table tbody > tr > td {
    padding: 5px;
}

.table.table-model-2 > tbody > tr > td, .table.table-model-2 > thead > tr > th, .table.table-model-2 > thead > tr > td {
    border-color: transparent;
    color: #000000;
}

.table.table-model-2 > thead > tr > th, .table.table-model-2 > thead > tr > td {
    padding: 10px 5px;
}

.table .id-td, .table .id-th {
    width: 45px;
    cursor: pointer;
}

.table .btn-td {
    width: 19px;
    padding: 0 5px;
    cursor: pointer;
}

.cbx-td + .id-td, .cbx-th + .id-th {
    padding-left: 0 !important;
}

.table .btn-th, .table .btn-td {
    width: 2px;
}

.table .btn-td {
    width: 30px;
}

.table .btn-td .btn-edit {
    width: 30px;
    height: 32px;
    padding: 0;
    margin-bottom: 0px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table > .cbx-td + .table > .id-td {
    padding-left: 0 !important;
}

.btn {
    margin: 0;
    height: 32px;
    padding: 5px;
    font-size: 14px;
}

.btn.btn-icon i {
    font-size: 12px;
    padding: 0;
    margin-top: -2px;
    width: 12px;
}

.cbr-replaced .cbr-state, .cb-replaced .cb-state {
    border: 1px solid #ababab;
}

.table-striped {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;

}

.sub-container {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    margin: 15px;
}

.sidebar-menu .main-menu {
    padding: 0 15px;
    margin: 0;
}

.btn + .btn {
    margin-left: 15px !important;
}

.dataTables_wrapper table.dataTable thead > tr > th {
    padding: 10px 5px;
}

.dataTables_wrapper .dt_scroll{
    overflow: auto;
    height: 550px;
    border: 1px solid #4a8cc7;
}

.dataTables_wrapper table.dataTable .id-th {
    padding-left: 0;
}

.input-sm {
    border-color: #ababab;
    color: #000000;
    padding: 5px 6px;
}

.sidebar-menu .main-menu a > span, .sidebar-menu .main-menu a > i {
    color: #CCCCCC;
}

.user-info-navbar .user-info-menu > li > a, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus {
    color: #000000;
}

.dropdown-menu > li > a > i {
    text-align: center;
    width: 20px;
    margin-right: 0;
}

.user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a, .navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li a {
    color: #000000;
}

.user-info-navbar .user-info-menu > li > a:hover, .user-info-navbar .user-info-menu > li .dropdown-menu.user-profile-menu li a:hover, .navbar.horizontal-menu .navbar-inner > .nav > li .dropdown-menu.user-profile-menu li a:hover, .user-info-navbar .user-info-menu > li.open > a {
    color: #4a8cc7;
}

.common-delete-btn {
    display: none;
}

.sidebar-menu .main-menu a > i {
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

.panel .panel-heading > .panel-title {
    width: 100%;
    font-size: 15px;
}

.table .cbx-th, .table .cbx-td {
    width: 10px;
    border-right: none;
}

.sidebar-menu.collapsed .logo-env {
    border: none;
}

@media screen and (min-width: 768px) {
    .sidebar-menu.collapsed .main-menu {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .sidebar-menu.collapsed .logo-env {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .page-container .sidebar-menu .sidebar-menu-inner .logo-env .mobile-menu-toggle {
        float: left;
        display: block !important;
    }

}

.sidebar-menu .logo-env {
    padding: 15px;
    padding: 0;
}

.dataTables_wrapper .dataTables_filter .form-control, .dataTables_wrapper .dataTables_length .form-control {
    display: inline-block;
    max-width: 100%;
    margin: 0;
}

.btn, .alert {
    border-radius: 3px;

}

.alert {
    text-align: center;
}

/*
.alert-danger {
    background-color: rgba(216, 36, 42, 0.7);
    border-color: transparent;
    color: #000000;
}

.alert-warning {
    background-color: #ffce4a;
    border-color: transparent;
    color: #000000;
}
*/

.btn.btn-secondary {
    background-color: #4A8CC7;
    border: 2px solid #4A8CC7;
}

.btn.btn-secondary:hover, .btn.btn-secondary:active {
    background-color: #5aa3e6;
    border: 2px solid #5aa3e6;
}

.btn.btn-secondary:focus {
    background-color: #5294d6;
    border: 2px solid #5294d6;
}

.btn.btn-edit, .btn.btn-edit:hover, .btn.btn-edit:active {
    background: none;
    border: none;
}

textarea.form-control, select.form-control, input.form-control, .input-sm, table {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000;
    border-color: #666666;
}

.even {
    /*background-color: #d4d4d4;*/
    background-color: rgba(212, 212, 212, 0.6);
}

.table-hover > tbody > tr:hover > td {
    background-color: #d3e6f7;
    background-color: #f5ea8c;
}

.table-hover > tbody > tr:hover .btn-edit {
    /*display: block;*/
    opacity: 1;
}

.btn.btn-edit i {
    font-size: 15px;
    color: #000;
}

.table.table-model-2 > thead > tr {
    background-color: #4a8cc7;
}

.form-control:focus, input:focus, select:focus, textarea:focus {
    border-color: rgb(74, 140, 199);
    outline: 0;
    -webkit-box-shadow: inset 0 0 3px rgb(74, 140, 199);
    box-shadow: inset 0 0 3px rgb(74, 140, 199);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #4a8cc7;
    border-color: #4a8cc7;
    color: #000;
}

input[type="checkbox"].iswitch.iswitch-secondary {
    margin: 0;
}

input[type="checkbox"].iswitch.iswitch-secondary:checked {
    box-shadow: inset 0 0 0 12.57142857px #4a8cc7 !important;
}

.btn.btn-white {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #4a8cc7;
}

.btn.btn-white:active, .btn.btn-white:focus {
    background-color: #eeeeee;
    border-color: #4a8cc7;
}

.go-main-page-span {
    font-size: 20px;
}

.faq-heading, .panel.panel-color .faq-heading {
    border-radius: 3px;
    border-radius: 3px;
    background-color: #4A8CC7;
    color: white;
    padding: 5px;
}

.faq-heading a {
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.faq-heading a:hover {
    text-decoration: underline;
}

.popup-frame {
    display: none;
    text-align: center;
    white-space: nowrap;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-frame::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.modal2 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: auto;
}

.modal_container {
    max-width: 90%;
    margin: -40px auto;
    white-space: normal;
    padding: 30px 0;
}

.popup-content input, .popup-content select, .popup-content textarea {
    width: 100%;
    margin-bottom: 5px;
}

.popup-content .button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.popup-content .button-container button {
    flex: 1;
}

.panel-group:last-of-type {
    margin-bottom: 0;
}

.cke_chrome {
    border-color: #666666 !important;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    background-color: #fff !important;
    border-radius: 0 0 5px 5px !important;
}

.table tbody > tr > .goods-img-td, .table tbody > tr > .goods-img-th {
    width: 40px;
    padding: 0 5px;
    text-align: center;
}

.goods-img-td img {
    width: 70px;
    height: auto;
}

.row-aic {
    align-items: center;
}

.pr-10 {
    padding-right: 10px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.tac {
    text-align: center;
}

.loader {
    border: 5px solid #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #4A8CC7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.select2-arrow {
    border-left: 1px solid #666;
    color: #000000;
}

html .select2-drop.select2-drop-active {
    border: 1px solid #666!important;
    overflow: hidden;
}

.form-control.select2-container.select2-dropdown-open, html .select2-container.select2-dropdown-open{
    border: 1px solid;
    border-color: #666 !important;
    border-radius: 3px 3px 0 0 !important;
    overflow: hidden;
}

html .select2-drop .select2-input {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e4e4e4;

}

html .select2-container {
    width: 100%;
    border: 1px solid #666;
    border-radius: 3px;
    overflow: hidden;
}

html .select2-container .select2-choice {
    height: 30px;
}

.select2-search input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

html .select2-drop .select2-results li.select2-result-selectable .select2-result-label {
    color: #383838;
}

html .select2-drop .select2-results li.select2-highlighted {
    background-color: #f5ea8c;
}

label {
    display: block;
}

.login-page .login-form .form-group .form-control.error {
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.login-page .login-form .form-group label.error {
    color: #cc3f44;
}

.num-td, .num-th {
    text-align: center !important;
}

.text-th, .text-td{
    text-align: left !important;
}

.btn-th {
    text-align: center !important;
}

.btn-th i {
    font-size: 16px;
}

#toast-container .toast {
    border-radius: 3px;
}

.payout-requests-count, .reg-requests-count, .order-requests-count{
    position: absolute;
    height: 24px;
    min-width: 24px;
    border-radius: 50px;
    top: 17px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
}
.reg-requests-count{
    background-color: #cc3f44;
}
.reg-requests-count.loader{
    border-top-color: #cc3f44 !important;
}
.order-requests-count{
    background-color: #4A8CC7;
}
.order-requests-count.loader{
    border-top-color: #4A8CC7 !important;
}
.payout-requests-count {
    background-color: #80b636;
}
.payout-requests-count.loader{
    border-top-color: #80b636 !important;
}

.payout-requests-count.loader, .reg-requests-count.loader, .order-requests-count.loader{
    width: 22px;
    background-color: transparent;
}

small{
    font-size:85%;
}

.crerated-at-td small small, .updated-at-td small small, .delivered-at-td-at-td small small {
    font-size: 85%;
    color: #0ea6f1;
}

html .select2-container .select2-choice .select2-chosen{
    line-height: 32px;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success{
    background-color: #8dc63f;
    border-color: #8dc63f;
}

.btn-success {
    background-color: #72a230;
    border-color: #72a230;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: initial !important;
}

