
.recomended-goods-popup {
    width: 500px;
}

.recomended-goods-table-popup {
    margin: 0 -10px;
    width: calc(100% + 20px);
}

.recomended-goods-table-popup thead {
    background-color: #909090;
}

.recomended-goods-table-popup tbody {
    border-top: 2px solid #909090;
    border-bottom: 2px solid #909090;
}

.recomended-goods-table-popup tbody tr:hover {
    background-color: #f5ea8c;
}

.table > tbody > tr > td, .table > tfoot > tr > td, .table > tbody > tr > th, .table > tfoot > tr > th {
    vertical-align: middle;
}

.recomended-goods-id-select {
    border: 1px solid #666;
    border-radius: 3px;
    overflow: hidden;
}