* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.adm-main-page-container{
    width: 100%;
    padding: 20px 10px 10px;
}

.bord{
    border: 1px solid;
}

.adm-main-page-container .stat-title{
    max-width: 250px;
    min-width: 200px;
}

.adm-main-page-container .statistic-container .row{
    display: flex;
    justify-content: center;
}

.adm-main-page-container .rating-container, .adm-main-page-container .statistic-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /*font-size: 14px;*/
}

.adm-main-page-container .row{
    max-width:1000px;
    margin: 0 auto;
}

.top-partners-container, .top-goods-container, .partners-online-container{
    max-width: 500px;
    min-width: 350px;
}

.top-partners-container .col-xs-12, .top-goods-container .col-xs-12, .partners-online-container .col-xs-12{
    background-color: #eeeeee;
}

.top-partners-container .content, .top-goods-container .content, .top-goods-container .table-head, .top-partners-container .table-head, .partners-online-container .content, .partners-online-container .table-head{
    padding: 0;
}

.top-partners-container .content, .top-goods-container .content{
    min-height: 200px;
    display: flex;
    align-items: center;
}

.partners-online-container .content {
    max-height: 300px;
    overflow: auto;
}

.adm-main-page-container .odd{
    background-color: #d4d4d4;
}

.number-title, .number{
    text-align: center;
    padding: 0;
}

.stat-holder{
    width: 100%;
}

.top-partners-container .title, .top-goods-container .title, .partners-online-container .title{
    text-align: center;
    font-size: 20px;
    color: #4A8CC7;
    font-weight: bold;
}

.top-goods-container .content, .top-partners-container .content, .partners-online-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.top-partners-container .row:hover, .top-goods-container .row:hover, .partners-online-container .row:hover{
    background-color: #f5ea8c;
} 

.top-partners-container .table-head, .top-goods-container .table-head, .partners-online-container .table-head{
    border-bottom: 3px solid #4A8CC7;
    background-color: #4a8cc7;
    font-weight: bold;
}

.top-partners-container .border, .top-goods-container .border, .partners-online-container .border, .statistic-container .partners-stat, .statistic-container .goods-stat{
    border: 3px solid #4A8CC7;
    border-radius: 3px;
    padding: 0;
}

.adm-main-page-container .content{
    text-align: left;
}

.statistic-container .partners-stat, .statistic-container .goods-stat{
    max-width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistic-container .number{
    color: #cc3f44;
    font-weight: bold;
}

.statistic-container .goods-stat{
    min-height: 100px;
}