.table-striped {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .login-page-container {
        background-size: 50% auto;
    }
}

.reg-sub-container {
    flex: 0 1 40%;
    align-self: center;
    margin: 15px;
}

.login-form-container {
    width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
}

.login-page .login-form{
    padding: 0;
}


.btn-sm{
    width: 100%;
    margin-top: 5px;
}

.login-page-container {

    height: calc(100% - 80px);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 40% auto;
}

.modal2{
    width: 800px;
}

.reg-edit-form {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.login-page {
    padding: 0;
    color: #000000;
}

.site-name {
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgba(74, 140, 199, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3%;
}

.login-page .buttons-container div {
    color: #4a8cc7;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.login-page .buttons-container div:hover{
    text-decoration: underline;
}

.login-page .buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.alert-container {
    height: 200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.error-block{
    color: #cc3f44;
}
.btn {
    margin: 0;
    height: 32px;
    padding: 5px;
}

.login-page .login-form .form-group .form-control {
    height: 40px;
}


.login-page .login-form .form-group {
    position: relative;
    margin: 0;
}

.login-page .login-form .sub-container .form-group .form-control.error {
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.btn-containert{
    display: flex;
    justify-content: center;
}
.btn-login{
    width: 100%;
}

/*.auth-main-container div div{*/
/*margin: 10px 0;*/
/*width: 200px;*/
/*}*/
/*
.auth-main-container input{
    width: 100%;
}*/

.auth-main-container .alert-container{
    display: flex;
    height: 150px;
    margin-top: -150px;
    width: 200px;
    align-items: flex-end;
}

.auth-main-container .alert-warning{
}

.input-holder {
    width: 200px;
    height: 60px;
    margin-bottom: 5px;
}

.input-holder input {
    text-align: left;
}

.card-owner-holder {

    font-size: 12px;
}

.input-holder:last-of-type, .input-label:last-of-type {
    margin-bottom: 0px;
}

.input-holder:last-of-type .error {
    margin-bottom: 0px;
}

label.error {
    font-size: 11px;
    text-align: right;
    color: #cc3f44;
}

.card-owner-label {
    margin: 0px;
    line-height: 50%;
    color: #000000;
}

.user-card-owner-self {
    margin: 0px !important;
    width: 16px !important;
}

.reg-request-popup{
    width: 800px;
}

.reg-request-popup, .reg-request-popup .btn, .reg-request-popup .form-control{
    font-size: 13px;
}

.login-page .login-form .form-group .form-control.error{
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.decline-reason{
    display: none;
    resize: vertical;
    margin-bottom: 0 !important;
}

.reg-decline-popup .popup-content select{
    margin-bottom: 15px;
}