/*.upload-image-btn {
    width: 100%;
    height: 100%;
}

.image-preview {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}*/

.btn-make-request{
    display: none;
}

.order-goods-table td, th {
    text-align: left;
}

.breadcrumb-env + .breadcrumb-env{
    margin-left: 10px;
}

#payment-summary{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.date-filte-holder > div, .filters-holder > div{
    float: left;
    margin: 0 5px;
    margin-bottom: 15px;
}

.date-filte-holder > div:last-of-type{
    float: none;
}

.date-filte-holder input{
    width: 90px;
    display: inline-block;
}
.btn + .btn{
    margin-left: 10px !important;
}

.decline-popup{
    width: 500px;
}

.confirm-popup{
    width: 700px;
}

.droppable-area .upload-image-btn{
    margin: 0;
    height:100%;
}
.droppable-area{
    width: 100%;
    margin: 0;
    border-radius: 0;
    height: 300px;
}

.img-preview{
    position: absolute;
    height: 269px;
    width: 539px;
    top: 80px;
    left: 143px;
    border: 2px dashed #cbcbcb;
    border-bottom: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-preview img{
    max-width: 100%;
    max-height: 100%;
}

.payment-requests-table .btn{
    float: left;
    font-size: 12px;
}

.decline-reason{
    border-radius: 3px;
    resize: vertical;
    margin: 0;
}
