
.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

@media only screen and (max-width: 500px){
    .modal_container{
        /*max-width: 320px;*/
    }
    .btn-sm{
        width: 100%;
    }
    .buttons-container{
        display: flex;
        flex-direction: column;
    }
    .btn + .btn {
        margin: 0px;
    }
    .btn-save{
        margin-bottom: 5px;
    }
    .btn-decline-reg{
        margin-bottom: 5px;
    }

    .col-sm-12{
        padding: 0px;
    }
    .col-xs-12{
        padding: 0px;
    }
    .status-container{
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }
}
.btn-sm{
    width: 100%;
    margin-top: 5px;
}

.btn {
    margin: 0;
    height: 32px;
    padding: 5px;
}

.sub-container {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    margin: 15px;
}

.modal2{
    width: 800px;
}


.login-page .buttons-container div {
    color: #4a8cc7;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.login-page .buttons-container div:hover{
    text-decoration: underline;
}

.login-page .buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.login-page .login-form {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.status-container{
    text-align: center;
    margin-left: 25%;
    margin-right: 0%;
}

.status-container label{
    width: 100%;
    text-align: left;
}

.login-page .login-form .form-group {
    position: relative;
    margin: 0;
}

.login-page .login-form .col-sm-6 .form-group label.error {
    color: #cc3f44;
    font-size: 12px;
    text-align: right;
}

.login-page .login-form .sub-container .form-group .form-control.error {
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.status-container{
    padding: 0;
}

.status-container .partner-status{
    margin-bottom: 15px;
    height: 40px;
}


.login-page .login-form .form-group label.error {
    top: initial;
    text-align: right;
    width: 60%;
    display: inline-block;
}

.change-password-btn:hover{
    text-decoration: underline;
}

.password-form-group{
    text-align: center;
}
