*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.partner-main-page-container{
    display: flex;
    align-items: stretch;
    height: 600px;
    margin: 0 -15px;
}

.partner-main-page-container > div{
    display: flex;
    width: 100%;
    margin: 0;
}

.hello{
    padding: 3px;
    font-size: 20px;
    color: #4A8CC7;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

.info-conrainer{
    flex: 8;
    padding: 10px;
}

.rating-container{
    flex: 8;
    border: 3px solid #4A8CC7;
    border-radius: 3px;
    margin: 5px;
}



.rating-container .title{
    text-align: center;
    padding: 3px;
    font-size: 20px;
    color: #4A8CC7;
}

.rating-container .table-head{
    font-size: 14px;
    font-weight: bold;
    background-color: #4A8CC7;
}

.rating-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}

.rating-container .content .row:hover {
    background-color: #f5ea8c;
}

.news-container{
    border: 3px solid #4A8CC7;
    border-radius: 3px;
    margin: 5px;
    margin-left: 0;
    overflow-y: auto;
}

.news-container .row{
    /*text-align: justify;*/
    text-indent: 20px;
    padding: 5px;
}


.news-container .date{
    color: green;
    font-style: italic;
    text-align: justify;
}
.news-container .title{
    font-size: 16px;
    cursor: default;
    font-style: normal;
    color: #4A8CC7;
}
.news-container .title:hover{
    text-decoration: underline;
}

.news-container .text{
    color: black !important;
    font-family: Arial, Verdana, sans-serif !important;
    font-size: 14px !important;
}

.news-container .text, p{
    font-family: Arial, Verdana, sans-serif !important;
    font-size: 14px !important;
    color: #000;
}

.news-container .text img {
    width: 100% !important;
    height: auto !important;
}

.news-container .main-title{
    padding: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #4A8CC7;
}

.recomended-goods .container-slider{
    height: calc(100% + 15px);
    margin: -5px;
    border-radius: 3px;
    overflow: hidden;
}

.carousel,.carousel-inner, .item, .thumbnails, .span3{
    height: 100%;
}

.thumbnail{
    height: 70%;
    padding: 0;
    margin: 0;
    background-color: initial;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail > img{
    max-height: 180px;
    margin-top: 30px;
    max-width: 60%;

    position: absolute;
    max-height: 60%;
    margin-top: 20px;
    max-width: 60%;
}

.caption{
    text-align: center;
}

.carousel-control.left, .carousel-control.right{
    color: #4a8cc7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.carousel-control:hover, .carousel-control:focus{
    opacity: 0.5;
}

.recomended-goods .price span{
    color: red;
    font-weight: bold;
}

.recomended-goods .main-title{
    position: absolute;
    width: 100%;
    margin: -5px -10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ff003b;
}

.goods-stat{
    font-size: 14px;
    height: 120px;
    max-width: 350px;
    margin: 25px -10px 0 -5px;
    border-radius: 3px;
    border: 3px solid #4A8CC7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-stat .num-td{
    text-align: right !important;
}

.goods-stat .balance{
    color: red;
}
.goods-stat .num-td{
    font-weight: bold;
}
.goods-stat .content{
    width: 100%;
    padding:10px;
    text-align: left;
}

.top-partners-container{
    margin-right: 0;
}



