.login-page {
    padding: 0;
    min-width: initial;
    min-height: 450px;
    position: absolute;
}


@media screen and (max-width: 480px) {
    body{
        height: 100%;
    }
}

.reg-page-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 80px);
    background-image: url("/images/add-user.svg");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 50% auto;
}

@media (min-width: 768px) and (max-width: 768px){
    .col-sm-6 {
        width: initial;
    }
}
@media screen and (min-width: 800px) {
    .reg-page-container {
        background-size: 40% auto;
    }
}

@media screen and (min-width: 1024px) {
    .reg-page-container {
        background-size: 35% auto;
    }
}

@media screen and (min-width: 1280px) {
    .reg-page-container {
        background-size: 30% auto;
    }
}

@media screen and (min-width: 1600px) {
    .reg-page-container {
        background-size: 25% auto;
    }
}

@media screen and (min-width: 1920px) {
    .reg-page-container {
        background-size: 20% auto;
    }
}

.reg-form-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    padding: 0 20px;
    font-size: 14px;
}

.btn {
    height: initial;
}

.login-page .reg-form .form-group label.error {
    color: #cc3f44;
}

.login-page .reg-form .form-group .form-control.error {
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.login-page .reg-form {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.login-page .reg-form .row {
    max-width: 800px;
    flex: 1;
}

.login-page i + i {
    margin-left: -8px;
}

.site-name {
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgba(74, 140, 199, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3%;
}
.control-label{
    color: #000000;
}

.login-page .buttons-container div {
    color: #4a8cc7;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.login-page .buttons-container div:hover{
    text-decoration: underline;
}

.login-page .buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10% 5%;
}

@media screen and (max-width: 768px) {
    .login-page .buttons-container {
        padding-bottom: 7%;
    }
}

@media screen and (max-width: 680px) {
    .login-page .buttons-container {
        flex-direction: column;
        padding-bottom: 0;
    }

    .login-page .buttons-container div {
        margin-bottom: 20px;
    }
}

.login-page .reg-form .form-group .btn {
    padding-top: 9px;
    padding-bottom: 9px;
}

.login-page .reg-form .error-block{
    color: #cc3f44;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .login-page .reg-form .col-xs-10{
        margin: 0 auto;
        float: none;
    }
}
.login-page .reg-form .col-xs-10{
    max-width: 450px;
}

@media screen and (max-width: 400px) {
    .col-xs-10{
        width: 100%;
    }
}

.login-page .reg-form .reg-btn-container{
    display: flex;
    justify-content: center;
}

.login-page .reg-form .reg-btn-container .form-group{
    margin-bottom: 0;
    margin-top: 30px;
}

.login-page .form-control{
    font-size: 14px;
}

.reg-form .card-owner-label{
    color: #000;
}

.show-policy{
    color: #4A8CC7;
}

.show-policy:hover{
    text-decoration: underline;
}