.profile-popup{
    width: 800px;
}


.login-page .buttons-container div {
    color: #4a8cc7;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition-duration: 200ms;
}

.login-page .buttons-container div:hover{
    text-decoration: underline;
}

.login-page .buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.login-page .login-form {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.status-container{
    text-align: center;
    margin-left: 25%;
    margin-right: 0%;
}

.status-container label{
    width: 100%;
    text-align: left;
}

.login-page .login-form .form-group {
    position: relative;
    margin: 0;
}

.login-page .login-form .col-sm-6 .form-group label.error {
    color: #cc3f44;
    font-size: 12px;
    text-align: right;
}

.login-page .login-form .sub-container .form-group .form-control.error {
    border-color: #cc3f44;
    -webkit-box-shadow: inset 0 0 2px #cc3f44;
    box-shadow: inset 0 0 2px #cc3f44;
}

.status-container{
    padding: 0;
}

.status-container .partner-status{
    margin-bottom: 15px;
    height: 40px;
}


.login-page .login-form .form-group label.error {
    top: initial;
    text-align: right;
    width: 60%;
    display: inline-block;
}

.profile-popup .btn{
    margin-top: 10px;
    width: 100%;
}

.change-password-btn:hover{
    text-decoration: underline;
}

.password-form-group{
    text-align: center;
}
