.city-filter-holder{
    margin-bottom: 15px;
}
.city-filter-holder > div{
    float: left;
}

.city-filter-holder > div:last-of-type{
    float: none;
}

.select-city-btn{
    margin: 0 15px;
}

#np-city{
    width: 150px;
    margin-bottom: 15px;
}

.date-filte-holder > div{
    float: left;
    margin: 0 5px;
    margin-bottom: 15px;
}
.date-filte-holder input{
    width: 90px;
    display: inline-block;
}
.btn + .btn{
    margin-left: 10px !important;
}

.dataTables_wrapper + .dataTables_wrapper{
    margin-top: 10px;
}

.loader{
    margin: 0;
}