.access-rule-popup{
    width: 500px;
}

.group-id{
    display: none;
}

.access-rule-popup .panel-body{
    padding: 0;
    overflow-x: hidden;
}

.access-rule-popup .panel-body table{
    width: 100%;
}

.access-rule-popup .group-name-container{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.access-rule-popup table td, .dataTables_wrapper table.dataTable thead > tr > th{
    padding: 5px;
    padding-left: 10px;
}

.access-rule-popup .change-access-rule-cbx{
    margin: 0;
}

.access-rule-popup .row{
    margin: 0;
}

.access-rule-popup .panel-body .button-container{
    padding: 10px;
}

